configs:
  secret:
    argocdServerAdminPasswordMtime: 2021-11-08T15:04:05Z
  cm:
    application.resourceTrackingMethod: annotation
    timeout.reconciliation: 180s
  params:
    server.insecure: true
repoServer:
  livenessProbe:
    initialDelaySeconds: 30
    timeoutSeconds: 5
    periodSeconds: 10
server:
  extraArgs:
  - --insecure
  ingress:
    enabled: false
  httproute:
    enabled: true
    parentRefs:
    - name: main
      namespace: gateway
    hostnames:
    - argocd.devopstoolkit.ai
